.service {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.float {
    width: 60px;
    height: 4px;
    border-radius: 8px;
}

.service {
    position: relative;
    margin-top: 70px;
}

.service-btn {
    position: absolute;
    bottom: -30px;
    left: 30%;
}