.services-container {
    margin-top: 100px;
}

.services {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:992px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }
}